<div class="form-grid">
  <div class="fields">
    <h1>Create an Account</h1>

    <%= form_for @user do |f| %>
      <strong><%= f.label :name %></strong><br>
      <%= f.text_field :name%>
    <br>
      <strong><%= f.label :email %></strong><br>
      <%= f.text_field :email%>
    <br>
      <strong><%= f.label :password %></strong><br>
      <%= f.password_field :password%>
    <br>
      <strong><%= f.label :Confirm %></strong><br>
      <%= f.password_field :password_confirmation %>
    <br>
    <%= f.submit %>
    <% end %><% if flash[:errors].present? %>
    <div class="errors">
      <strong>Please correct the following errors:</strong>
      <ol>
        <% flash[:errors].each do |e| %>
          <li><%= e %></li>
        <% end %>
      </ol>
    </div>
    <% end %>
  </div>
</div>
