<%= form_for @location do |f| %>
<div class="grid-container">
  <div class="tree-nav">
    <strong>Tree Nav</strong><br>
    <% unless @location.universe == @location.name %>
      <%= f.collection_select :environment_id, Location.where(:universe => @location.universe), :id, :name, {:selected => @location.environment_id}%>
    <% end %> <br>
    <% unless flash[:error].nil? %>
      <%= flash[:error] %>
    <% end %>
  </div>

  <div class="data-grid display">

    <div class="general-header">
      <h1><%= @location.name %></h1>
      <%= f.submit "Save", :class => "save-changes" %>
    </div>
    <div class="general-info">
      <%= f.text_area :description %>
    </div>

    <div class='npcs'>
      <h4>NPCs:</h4>
      <ul>
        <% @location.npcs.each do |npc| %>
          <li><%= npc.name %></li>
        <% end %>
      </ul>
    </div>
    <div class='npc-display'>
    </div>

    <div class="public-header">
      <h3>Notes:</h3>
    </div>
    <div class="public-notes"><%= f.text_area :public_notes, :class => "notes-field"%>
    </div>

    <% if @current_user.id == @location.user_id %>
    <div class="dm-header">
      <h3>Seekrit Notes:</h3>
    </div>
    <div class='dm-notes'><%= f.text_area :dm_notes, :class => "notes-field"%>
    </div>
    <% end %>
  </div>
  <% end %>
</div>
