<div class="grid-container">
  <div class="tree-nav">
    <strong>Tree Nav</strong>
    <%= render(partial: 'tree') %>
  </div>
  <div class="data-grid display">
    <div class="general-header">
      <h1><%= @location.name %></h1>
      <nav>
        <%= link_to 'Add location', new_location_path(:location => @location), :class => "button add" %>
        <%= link_to 'Delete', location_path(@location), method: 'delete', :class => "button delete-link" %>
        <%= link_to "Edit page", edit_location_path(@location), :class => "button edit-link" %>
      </nav>
    </div>
    <div class="general-info">
      <p class="text-block description"><%= @location.description %></p>
    </div>

    <div class='npc-list'>
      <h4>NPCs:</h4><%= link_to "Add", new_npc_path(:location => @location), :class => "button npc-link" %>
      <ul>
        <% @location.npcs.each do |npc| %>
          <li><%= link_to npc.name, location_path(@location, :npc => npc) %></li>
        <% end %>
      </ul>
    </div>

    <div class='npc-display'>
      <% unless @npc.nil? %>
        <strong><%= @npc.name %>: <%= @npc.title %></strong>
          <%= link_to "Edit", edit_npc_path(@npc, :location => @location), :class => " npc-edit-link" %><br>
        <%= @npc.description %>
      <% end %>
    </div>

    <div class="public-header">
      <h3>Notes:</h3>
    </div>
    <div class="public-notes">
      <p class="text-block"><%= @location.public_notes %></p>
    </div>

    <% if @current_user.id == @location.user_id %>
    <div class="dm-header">
      <h3>Seekrit Notes:</h3>
    </div>
    <div class='dm-notes'>
      <p class="text-block"><%= @location.dm_notes %></p>
    </div>
    <% end %>
  </div>
</div>
